@import "variables.css";

.sectionBox {
	display: flex;
}

.sectionSubBox {
	margin: 10px;
	width: 100%;
}

/*
----------
----------
About Section
----------
----------
*/

.aboutText {
	max-width: 1000px;
	margin: auto;
	text-align: left;
	margin-bottom: 16px;
}

/*
----------
----------
Project List
----------
----------
*/

.sectionDesc {
	max-width: 1000px;
	margin: auto;
	margin-bottom: 16px;
}

.projectListTitle {
	width: 100%;
	text-align: center;
}

.projectList {
	width: 100%;
	margin: auto;
	
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;

	color: white;
}

.projectItem {
	width: var(--project-item-size);
	height: var(--project-item-size);
	overflow: hidden;
	box-sizing: border-box;

	border: 2px solid #1a1a1a;
	border-radius: 10px;

	position: relative;

	display: inline-block;
	margin: 5px;
	vertical-align: top;

	padding: 10px;
	background-color: #222;

	color: white;
	text-decoration: none;

	transition: 0.3s;
}

.projectItem:hover {
	box-shadow: 0 0 10px 0 black;
}

.cardImage {
	position: absolute;
	top: 0;
	left: 0;

	width: var(--project-item-size);
	height: var(--project-item-size);

	filter: brightness(30%);
	transition: 0.3s;
}

.projectItem:hover .cardImage {
	filter: brightness(15%);
}

.projectCard {
	position: relative;
	height: 100%;
	z-index: 10;
}

.projectTitle {
	font-weight: bold;
	font-size: 1.15em;

	margin-top: 0;
	padding-bottom: 5px;

	border-bottom: 1px solid white;

	text-shadow: 0 0 20px black;

	color: var(--main-contrast-color);
}

.projectDesc {
	font-size: 0.85em;

	text-shadow: 0 0 20px black;
}

.projectType {
	position: absolute;
	bottom: 0;
	right: 0;

	margin: 0;

	font-size: 0.8em;
	text-align: left;

	text-shadow: 0 0 20px black;
}

.projectInfoIcon {
	position: absolute;
	bottom: 0;
	right: 0;

	width: 24px;
	height: 24px;

	margin: 0;

	text-align: left;

	text-shadow: 0 0 20px black;
}

.projectDate {
	position: absolute;
	bottom: 0;
	left: 0;

	margin: 0;

	font-size: 0.85em;
	text-align: right;

	text-shadow: 0 0 20px black;
}

/*
----------
----------
Skill list
----------
----------
*/

#skillBox {
	flex-wrap: wrap;
	justify-content: center;
}

#skillBox .sectionSubBox {
	box-sizing: border-box;
	width: 100%;
	min-width: 300px;
	max-width: 410px;
}

.skillTitle {
	width: 100%;
	text-align: center;
}

.skillItem {
	width: 100%;
	max-width: 1000px;
	margin: auto;
	
	margin-top: 10px;
	margin-bottom: 10px;
	
	text-align: left;
}

.skillName {
	color: var(--main-contrast-color);

	font-weight: bold;
	font-size: 1.3em;
	margin: 0;
	display: block;
}