
/* large */
@media only screen and (min-width: 1025px) {
	html {
		height: 100%;
		overflow-y:scroll;
	}

	body {
		padding: 0;
		margin: 0;
		
		font-family: Roboto, Helvetica, Sans-Serif;
		background-color: rgb(51, 51, 51);
		color: white;
		
		min-height: 100%;
		position: relative;
		
		padding-bottom: 200px;
		box-sizing: border-box;
	}
}

/* small */
@media only screen and (max-width: 1024px) {
	html {
		height: 100%;
		margin-top: 50px;
		overflow-y:scroll;
	}

	body {
		padding: 0;
		margin: 0;
		
		font-family: Roboto, Helvetica, Sans-Serif;
		background-color: rgb(51, 51, 51);
		color: white;
		
		min-height: 100%;
		position: relative;
		
		padding-bottom: 200px;
		box-sizing: border-box;
	}
}

/*
----------
----------
Navbar
----------
----------
*/

@media only screen and (min-width: 1025px) {
	#navbar {
		position: relative;
		width: 100%;
		background-color: #222;
		height: 75px;
		color: #9d9d9d;
		
		border-bottom: 1px solid black;
	}

	#subBar {
		width: 65%;
		margin: auto;
	}

	#splash {
		display: inline-block;
		
		height: 100%;
		
		padding-right: 15px;
		
		line-height: 75px;
		font-size: 24pt;
		
		font-weight: bold;
		color: white;
		
		font-family: Helvetica, Serif;
	}

	#navbarList {
		list-style-type: none;
		margin: 0;
		padding: 0;
		display: inline-block;
		float: right;
	}

	.navListItem {
		float: left;
		height: 75px;
		color: #9d9d9d;
		
		transition: background-color 0.3s, color 0.3s;
	}

	.navListItem:hover {
		background-color: #262626;
		color: white;
	}

	#currentpage a {
		color: white;
	}

	#currentpage {
		background-color: #262626;
		border-bottom: 1px solid lime;
	}

	.navListItem a {
		padding: 16px;
		text-decoration: none;
		font-size: 16pt;
		color: inherit;
		
		line-height: 75px;
	}
	
	.dropDownLabel, #dropDownButton {
		display: none;
	}
}

@media only screen and (max-width: 1024px) {
	#navbar {
		position: fixed;
		top: 0;
		width: 100%;
		background-color: #222;
		height: 50px;
		color: #9d9d9d;
		
		border-bottom: 1px solid black;
		z-index: 1000;
	}

	#subBar {
		width: 100%;
		margin: auto;
	}

	#splash {
		display: none;
	}

	#navbarList {
		list-style-type: none;
		margin: 0;
		padding: 0;
		display: inline-block;
		text-align: none;
		background-color: #222;
	}

	.navListItem {
		height: 50px;
		display: block;
		float: none;
	}
	
	.navListItem:not(#currentpage) {
		display: none;
	}

	.navListItem:hover {
		background-color: #262626;
	}

	#currentpage a {
		color: white;
	}

	#currentpage {
		background-color: #262626;
		border-bottom: 1px solid lime;
	}

	.navListItem a {
		padding: 16px;
		padding-bottom: 9px;
		text-decoration: none;
		font-size: 16pt;
		color: #9d9d9d;
		
		width: 100%;
		
		display: block;
		margin: 0;
		
		box-sizing: border-box;
	}
	
	#dropDownButton {
		display: inline-block;
		height: 50px;
		width: 50px;
		padding-bottom: 2px;
		padding-top: 3px;
		
		float: right;
		text-align: center;
		box-sizing: border-box;
		
		cursor: pointer;
	}
	
	#dropDownButton:hover {
		background-color: #262626;
	}
	
	.line {
		display: block;
		width: 70%;
		margin: auto;
		
		height: 5px;
		margin-top: 7.5px;
		margin-bottom: 7.5px;
		
		border-radius: 3px;
		
		background-color: dimGrey;
	}
}

/*
----------
----------
Footer
----------
----------
*/

@media only screen and (min-width: 1025px) {
	#bottomArea {
		position: absolute;
		bottom: 22px;
		
		background-color: #222;
		padding: 5px;
		
		width: 100%;
		box-sizing: border-box;
	}

	#bottomBar {
		width: 100%;
		margin: auto;
	}

	#bottomList {
		list-style-type: none;
		margin: 0;
		padding: 0;
		display: inline-block;
		text-align: center;
		
		width: 100%;
		margin-bottom: 20px;
	}

	.bottomListItem {
		display: inline-block;
		vertical-align: top;
		width: 32%;
	}

	.bottomListItem p {
		font-size: 0.9em;
		text-align: left;
	}

	.bottomHeader {
		padding: 5px;
		font-size: 1.2em;
		margin-bottom: 5px;
		text-align: left;
	}

	.bottomHeaderRight {
		padding: 5px;
		font-size: 1.2em;
		margin-bottom: 5px;
		text-align: right;
	}

	.bottomSubList {
		list-style-type: none;
		margin: 0;
		padding: 0;
		margin-top: 5px;
		
		font-size: 0.9em;
		text-align: left;
	}

	.bottomSubListRight {
		list-style-type: none;
		margin: 0;
		padding: 0;
		margin-top: 5px;
		
		font-size: 0.9em;
		text-align: right;
	}

	.bottomSubListItem {
		padding: 5px;
	}

	.bottomSubListItem a {
		text-decoration: none;
		color: #9999ff;
	}

	.bottomSubListItem a:hover {
		color: #b3b3ff;
	}

	#footer {
		width: 100%;
		margin: auto;
		
		text-align: center;
		
		position: fixed;
		bottom: 0;
		
		background-color: #1a1a1a;
		color: #333333;
		
		padding: 2px;
	}
}

@media only screen and (max-width: 1024px) {
	#bottomArea {
		position: absolute;
		bottom: 22px;
		
		background-color: #222;
		padding: 5px;
		
		width: 100%;
		box-sizing: border-box;
	}

	#bottomBar {
		width: 100%;
		margin: auto;
	}

	#bottomList {
		list-style-type: none;
		margin: 0;
		padding: 0;
		display: inline-block;
		text-align: center;
		
		width: 100%;
	}

	.bottomListItem {
		display: inline-block;
		vertical-align: top;
		width: 100%;
	}

	.bottomListItem p {
		font-size: 0.9em;
	}

	.bottomHeader {
		padding: 5px;
		font-size: 1.2em;
		margin-bottom: 5px;
	}

	.bottomHeaderRight {
		padding: 5px;
		font-size: 1.2em;
		margin-bottom: 5px;
		margin-top: 15px;
	}

	.bottomSubList {
		list-style-type: none;
		margin: 0;
		padding: 0;
		margin-top: 5px;
		
		font-size: 0.9em;
	}

	.bottomSubListRight {
		list-style-type: none;
		margin: 0;
		padding: 0;
		margin-top: 5px;
		
		font-size: 0.9em;
	}

	.bottomSubListItem {
		padding: 5px;
	}

	.bottomSubListItem a {
		text-decoration: none;
		color: #9999ff;
	}

	.bottomSubListItem a:hover {
		color: #b3b3ff;
	}

	#footer {
		width: 100%;
		margin: auto;
		
		text-align: center;
		
		position: fixed;
		bottom: 0;
		
		background-color: #1a1a1a;
		color: #333333;
		
		padding: 2px;
	}
}