/*
-----
Blog stylings
-----
*/

#blogContainer {
	flex: 75%;
	background-color: #f2f2f2;
	margin-right: 20px;
}

#blogSidebar {
	flex: 25%;
	background-color: #f2f2f2;
}

#blog {
	display: flex;
}

#sidebarContent {
	width: 80%;
	margin: 20px auto;
}

#sidebarContent p {
	font-size: 0.8em;
	text-align: left;
	
	margin-top: 5px;
	margin-bottom: 5px;
}

.blogPost {
	margin: 20px;
	padding: 20px;
	
	border-bottom: 1px solid black;
}

.blogPost:last-child {
	border: 0;
}

.blogTitle {
	margin: 0;
	font-weight: bold;
	font-size: 1.2em;
}

.blogDate {
	margin: 0;
	font-size: 0.8em;
}

.blogPic {
	width: 100%;
	border: 2px solid black;
	
	box-sizing: border-box;
}

.sidebarHeader {
	font-size: 1.2em;
}